---
title: Large_Language_Models_are_Better_Reasoners_with_Self-Verification
date: 2022-12-19 00:00:00 +0800
categories: ['reasoning', ' self verification']
tags: ['reasoning', ' self verification']
---

- 📙Paper: "[Unleashing the potential of prompt engineering in Large Language Models: a comprehensive review](https://www.semanticscholar.org/paper/Unleashing-the-potential-of-prompt-engineering-in-a-Chen-Zhang/595c8d39a6155354fd7d8f62a4441be5c82e68da)"
- 🔑Public: ✅
- ⚲ area: Reasoning,  self verification
- 📅 Date: 2022-12-19
- 🔎 Taxonomy: advanced / self-correction
- 📝 #References: 55
