---
title: Large_Language_Models_are_Better_Reasoners_with_Self_Verification
date: 2022-12-19 00:00:00 +0800
categories: ['reasoning', ' self verification']
tags: ['reasoning', ' self verification']
---

- 📙Paper: "[dgsdg](dsgfdhgf)"
- 🔑Public: ✅
- ⚲ area: Reasoning,  self verification
- 📅 Date: 2022-12-19
- 🔎 Taxonomy: advanced / self-correction
- 📝 #References: 55
