---
title: Large Language Models are Better Reasoners with Self-Verification
date: 2022-12-19 00:00:00 +0800
categories: [prompting]
tags: [prompting, self_correction]
---

- 📙Paper: "[Large Language Models are Better Reasoners with Self-Verification](https://www.semanticscholar.org/paper/Large-Language-Models-are-Better-Reasoners-with-Weng-Zhu/7715ba5e75f5256e1061c7473afe61bb0dbb9065)"
- 🔑Public: ✅
- ⚲ Area: Prompting
- 📅 Date: 2022-12-19
- 🔎 Paper Section: methods / advanced / self-correction
- 📝 References: 55
