---
title: Large_Language_Models_are_Better_Reasoners_with_Self-Verification
date: 2022-12-19 00:00:00 +0800
categories: ['reasoning', ' self verification']
tags: ['reasoning', ' self verification']
---

- 📙Paper: "[Large Language Models are Better Reasoners with Self-Verification](https://www.semanticscholar.org/paper/Large-Language-Models-are-Better-Reasoners-with-Weng-Zhu/7715ba5e75f5256e1061c7473afe61bb0dbb9065)"
- 🔑Public: ✅
- ⚲ area: Reasoning,  self verification
- 📅 Date: 2022-12-19
- 🔎 Taxonomy: advanced / self-correction
- 📝 #References: 55
